
body{
  background-image: url("moviewph.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background: rgba(255, 255, 255, .75);
  color: darkblue;

  margin-top: 20px;
}

#submit {
  background: skyblue;
}

#jumbo_h2 {
  color: darkblue;
  font-family: 'Monoton', cursive;
  font-size: 42px;
}
.lead {
  font-size: 28px;
}
.btn-primary {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
}


form.signup,
form.login {
  margin-top: 50px;
}